.btn-close-orange{
    color: var(--orange)!important;
}

#banner{
    background: linear-gradient(0deg, #0000008f, #0000008f), url("https://img.freepik.com/photos-gratuite/amicale-polie-belle-fille-afro-americaine-dans-verres-aux-cheveux-boucles-chemisier-bureau-raye-pointant-vers-gauche-pistolet-doigt-souriant-joie-donnant-conseils-aller_176420-23347.jpg?size=626&ext=jpg&ga=GA1.1.212687153.1691348973&semt=sph");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    background-position: center;
    color: white;
}
#banner .banner-texte{
    margin-left: 80px !important;
}
#btn-contact{

}
#services .card{
    height: 40vh;
}
#services .card i{
    font-size: 60px;
}


/* Section about */
.badge1{
    background-color: #0B3255;
    padding: 10px 30px;
    font-size: 50px;
    color: white;
    
}
.badgeprim{
    background-color: var(--orange);
    padding: 10px 30px;
    font-size: 50px;
    color: white;
}
.badgetext{
    font-size: 15px;
    width: 5%;
}
.imageabout {
    height:fit-content;
    

}

#about .card-body{
    text-align: justify;
}
.imageabout img{
    height: 70vh;
    width: 100%;
}

/* section why */

/* section exploit */

#exploit .card{
    background-color: white !important;
    height: 40vh;
    border-top: 3px solid var(--orange)!important;
}
#exploit .card i{
    font-size: 30px;
}

.bgExploit{
    background-color: #E94D1A;
}

/* section temoignages */
.carousel-control-prev, .carousel-control-next{
    background-color: var(--orange);
    width: 6vh;
    height: 20%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}


/* section formations */
#formations .card{

    height: 80%;

}
#formations .card img{

    height: 45%;

}


@media screen and (min-width: 768px) and (max-width: 985px) {
    #services #row-cols-2{
        display: grid !important;
        grid-template-columns: auto auto !important;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }
    #services #row-cols-2 .card{
        width: 350px !important;
        height: 30vh;

    }
    #image-why{
        height: 50vh;
    }
    
}

@media screen and (max-width: 768px){

    #banner{
        height: 50vh;
    }

    #services .card{
        height: 30vh !important;

    }
    .designIcons{
        display: none !important;
    }
    #formations .card{
        height: 100%;
    }
    #formations .card img{
        height: 50%;
    }
    
}