
/* header */
#logo{
    height: 15vh;
    width: 100%;
}
/* .nav-fixed{
    position: sticky !important;
    top: 0 !important;
} */
.active{
    color: var(--orange) !important; ;
}

.contactUS{
    display: none !important;
}
.usContact{
    display: block !important;
}
.radiusButton{
    border-radius: 0 20px 0 20px;
}
#social{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    transform: translateX(-270px);
    z-index: 3;

}
#social a{
    width: 300px;
    text-align: right;
    border-radius:20px ;
    transition: 1s;
    transition-property:transform ;

}
#social a:hover{
   transform: translateX(200px);
}
.fa-circle{
    font-size: 10px;
}
#circle{
    margin: -2px 7px 0 7px;
}

/* section bannière */
.banniere {
    background-image: url(../public/images/banniere-technologie-orange.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 3%;
    margin-top: 0;
}

.banniereContent h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.banniereContent p {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.banniere a {
    text-decoration: none;
}

.banniereContent .linkAccueil a {
    color: white !important;
}

.banniereContent .linkPage a {
    color: var(--orange);
}

/* section bannière */



/* body */
.btn-close-orange{
    color: var(--orange)!important;
}

.mx-4{
    text-align: center;
}
.divcontainer{
    display: flex;
    margin: 0 13%;
    justify-content: center;
    justify-items: center;
   margin-left: 100px;
   height: 500px;
  

}
.divcontainer .divdroite{
    border: 1PX solid #d3d9d46b ;
    width: 460px;
    height: 340px;
    border: 1px solid rgb(159, 156, 156);
   border-radius: 1px;
   justify-content: center;
   
   

}
/* .Diviconeh2orange{
    -webkit-clip-path: polygon(50% 0%, 90% 48%, 50% 100%, 11% 50%);
clip-path: polygon(50% 0%, 90% 48%, 50% 100%, 11% 50%);
} */
.divcontainer>.divdroite > .P1{

    justify-content: center;
}
.divcontainer>.divdroite >.divstar{
    padding-left: 3px;
    padding-bottom: 10px;
}
h6{
    font-weight: bold;
}
.divcontainer .divgauche{
    position:  relative;
    right: 110px;
    border: 3PX solid rgba(128, 123, 123, 0.969);
border-radius: 0 20px 0 20px;
/* padding-right: 5px; */
/* justify-content: center; */
border-radius: 10px 30px 0px 90px;
width: 380px;
height: 260px;
margin-top: 25px;

}
img{
    width: 250px;
}
body h6{
    padding-left: 60px;
    padding-top: 40px;
}
p{
    padding-left: 24px;
}
.divcontainer2{
    display: flex;
    margin: 0 15%;
    justify-content: center;
   margin-left: 100px;
   height: 500px;
   /* border: 1px solid red; */
   justify-items: center;
}
.divcontainer .divdroite .divstar{padding-bottom: 15px;

}
.divcontainer2 .divdroite2{
     position:  relative;
    right: 80px;
    border: 3PX solid rgba(128, 123, 123, 0.969);
border-radius: 0 20px 0 20px;
/* padding-right: 5px; */
/* justify-content: center; */
/* border-radius: 10px 30px 0px 90px; */
/* width: 350px;
height: 300px; */
margin-top: 25px;
border-radius: 10px 80px 30px 0px;
width: 450px;
height: 300px;
/* margin-top: 25px;
margin-left: 20px; */
background-color: white;
border-right: #FFFFFF;

   

}
/* img Mariama */
/* .divcontainer2 .divgauche2{
    border: 1PX solid #d3d9d46b ;
    width: 380px;
    height: 340px;
    border: 1px solid rgb(159, 156, 156);
   border-radius: 1px;
   justify-content: center; */
   /* margin-left: 15px; */
   
/* } */
.divcontainer2>.divdroite2 > .P1{

    justify-content: center;
}
.divcontainer2>.divdroite2 >.divstar{
    padding-left: 3px;
    padding-bottom: 2px;
    
    }
    
.divcontainer2 .divgauche2{
    position:  relative;
    right: 150px;
    border: 1PX solid rgba(128, 123, 123, 0.969);
border-radius: 0 20px 0 20px;


width: 380px;
height: 350px;
margin-bottom: 80px; 
padding-left: 45px;
}
.img{
    width:400px;
    height: 250px;
    justify-content: center;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 60px;
    background-color: white;
}
.divcontainer>.divdroite > .P1{

    justify-content: center;
}

.Ppagination{
    text-align: center;
    font-weight: bold;
}

span{
    color:#E94D1A
}



